@import url('@fontsource-variable/comfortaa');
@import url('@fontsource/lilita-one');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* globals.css */
* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html,
body,
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

button:focus,
button:focus-visible,
svg:focus,
svg:focus-visible {
  outline: none;
  --tw-ring-color: none !important;
  --tw-ring-width: 0;
}

@layer base {
}
