@import url('@fontsource-variable/comfortaa');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Comfortaa Variable', sans-serif;
  box-sizing: border-box;
}

button:focus,
button:focus-visible,
svg:focus,
svg:focus-visible {
  outline: none;
  --tw-ring-color: none !important;
  --tw-ring-width: 0;
}



@layer base {}
