@import url("@fontsource/roboto");

@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus, button:focus-visible, svg:focus, svg:focus-visible {
    outline: none;
    --tw-ring-color: none !important;
    --tw-ring-width: 0;
}