@import url("@fontsource/roboto");
@import url("@fontsource/roboto/100.css");
@import url("@fontsource/roboto/300.css");
@import url("@fontsource/roboto/400.css");
@import url("@fontsource/roboto/500.css");
@import url("@fontsource/roboto/700.css");
@import url("@fontsource/roboto/900.css");
@import url("@fontsource/roboto/100-italic.css");
@import url("@fontsource/roboto/300-italic.css");
@import url("@fontsource/roboto/400-italic.css");
@import url("@fontsource/roboto/500-italic.css");
@import url("@fontsource/roboto/700-italic.css");
@import url("@fontsource/roboto/900-italic.css");


@tailwind base;
@tailwind components;
@tailwind utilities;

button:focus, button:focus-visible, svg:focus, svg:focus-visible {
    outline: none;
    --tw-ring-color: none !important;
    --tw-ring-width: 0;
}